
.jumbotron{
	background-color: #666;
	color: #fff;
}

.container{
	text-align: center;
}

.part-two{
	margin-top: 130px;
}

.part-three{
	margin-top: 130px;
}

.part-four{
	margin-top: 130px;
	margin-bottom: 130px;
}

